/* Reset and basic styles */
body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2; /* Light gray background */
    color: #333; /* Dark text color */
    line-height: 1.6;
}

/* Header styles */
header {
    background-color: #333;
    padding: 10px 0;
    text-align: end;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header nav ul li:last-child {
    margin-right: 0;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
}


/* Main section styles */
.hero-section {
    display: flex;
    justify-content: center; /* Center align horizontally */
    align-items: center; /* Center align vertically */
    flex-direction: column; /* Stack items vertically */
    text-align: center;
    color: #333;
}

.hero-section h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero-section article {
    background-color: rgba(255, 255, 255, 0.9); /* Light gray background with opacity */
    padding: 20px;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 0 10px rgba(0,0,0,0.1); /* Soft shadow */
    max-width: 800px; /* Limit box width */
    width: 100%; /* Full width within its container */
    text-align: left; /* Align text inside the box to the left */
}

.hero-section article h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.hero-section article ul {
    list-style-type: disc;
    padding-left: 35px;
}

/* Footer styles */
footer {
	margin-top: 3%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
	position: relative;
    bottom: 0;
    width: 100%;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    header nav ul li {
        display: block;
        text-align: center;
        margin: 10px 0;
    }
}
