body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #174F70;
    color: #fff;
    text-align: center;
    padding-top: 1rem;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

h1 .highlight {
    color: #ffd700;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #000;
    margin-top: 2rem;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #555;
    border-radius: 5px;
}

main {
    margin: 0;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
	height: 36.97rem;
}

.card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-bottom: 1rem;
    flex-grow: 1;
    margin-top: 1rem;
	padding-right: 3px;
    flex-basis: calc(66.666% - 0.5rem);
}

.card:first-of-type img {
    display: flex;
    justify-content: flex-end;
    border-radius: 10px;
    float: right;
    margin: 20px 20px 0px 0px;
    max-width: 20%;
    height: auto;
}

.card:nth-child(2) {
    flex-basis: calc(33.333% - 0.5rem);
}

.card h2 {
	display: flex;
    justify-content: center;
    background-color: #174F70;
    color: #fff;
    margin: 0;
    padding: 0.5rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#section2 ul {
    display: grid;
    margin-top: 50%;
}

.card-content {
    padding: 1rem;
}

.card p {
    margin-top: 5%;
}

.card img {
    max-width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

footer {
    background-color: #174F70;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

footer p {
    margin: 0.5rem 0;
}

footer .highlight {
    color: #ffd700;
}
