/* Basic CSS styles - adjust according to your design */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

/* Header Styles */
header {
    background-color: #2E032B; /* Header color */
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Footer Styles */
footer {
    background-color: #2E032B; /* Footer color */
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Form Styles */
form {
    max-width: 600px;
    margin: 20px auto;
    background: #D5CDD5; /* Form background color */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

/* Stretch form elements horizontally */
select, input[type="date"], textarea, input[type="text"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box; /* Ensure padding is included in width */
}

.rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.rating-stars {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 250px; /* Adjust the max-width as needed */
    margin-bottom: 10px;
}

.rating-stars .star {
    font-size: 25px;
    color: #ffd700; /* Gold color for stars */
    cursor: pointer;
}

.rating-radio {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 250px; /* Ensure this matches the .rating-stars width */
}

.rating-radio input[type="radio"] {
    margin: 0;
    cursor: pointer;
}

input[type="submit"] {
    background-color: #EFEFEF;
    font-weight: bold;
    color: #040404;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #555;
}
